<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitTech | Dashboard</title>
</head>
<body>
    <h1>vasco</h1>
    <p>meu pai </p>
    <p>meu pai </p>
    <p>meu pai </p>
</body>
</html>