<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FitTech | Error</title>
    
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    
    <div class="container text-center mt-5">
        <h1 class="display-4">Erro!</h1>
        <p class="lead">Esta página não foi encontrada! Clique no botão abaixo para retornar a página principal.</p>
        <a href="/" class="btn btn-primary">Voltar para Dashboard</a>
    </div>

    <!-- Bootstrap JS and Dependes --> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>